.main {
    margin: auto; /*centering horizontally if the screen is larger than max-width*/
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width:499px) {
    .hd_logo {
        min-width: 60px;
    }
    h1 {
        font-size: 32px;
        margin-top: 15px;
    }
    h2 {
        font-size: 18px;
    }
    .ftr_work_item {
        width: 100%;
        margin: 10px auto; 
    }    
}

@media only screen and (min-width:500px) and (max-width:699px){
    .hd_logo {
        min-width: 70px;
    }
    h1 {
        font-size: 42px;
        margin-top: 15px;
    }
    h2 {
        font-size: 20px;
    }
    .ftr_work_item {
        width: 50%;
        min-width: 150px;
        margin: 10px auto; 
    }
}